body {
  background: none;
  text-indent: 0;
  font-size: 10pt;
  line-height: 11pt;
  font-family: 'serif';
}
.no-print {
  display: none;
}
.wrapper {
  padding-left: 0;
}
/*
<address class="vcard only-print">
    <p class="adr">
        <span class="street-address">6 rue de la République</span><br>
        <span class="postal-code">60600</span>
        <span class="country-name">Erquery</span>
    </p>
    <p class="tel">+33 (0)6 37 18 81 24</p>
    <p class="email">francoismonniot@gmail.com</p>
    <p class="note">23 ans, Détenteur du permis B</p>
    <p class="fn"><a class="url" href="#">François Monniot</a><p>
    <p class="role">Élève Ingénieur Télécom SudParis<p>
</address>
*/
.vcard .fn a {
  color: #000000;
  font-size: 2em;
  font-style: normal;
  font-weight: lighter;
}
.vcard .role {
  color: #888888;
  font-size: 1.3em;
}
.vcard .adr,
.vcard .tel,
.vcard .email,
.vcard .note {
  color: #888888;
  clear: right;
  float: right;
  font-size: 0.9em;
  margin: 0;
  text-align: right;
}
header.main {
  display: none;
}
article {
  padding: 0;
}
article .content {
  background: none;
  border: none;
  padding: 0;
}
article .content section {
  padding: 0;
}
.cv .span10 {
  margin-bottom: 0;
}
.cv strong {
  font-weight: bold;
}
