/* Main font */
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

/* Social buttons (github,twitter, etc...) */
@import "social-buttons/auth-buttons.css";

/* Syntax coloration */
@import "pygments.css";

/* Generals tag */
html {
    height:100%; }
body {
    background-color: #BBB;
    padding: 0;
    margin: 0;
    height:100%;
    font:1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6 {
  line-height:1.1;
  font-family:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1 {
  font-size:2em; }
h2 {
  color:#393939; }
h3, h4, h5, h6 {
  color:#494949; }
a {
    color: black;
    text-decoration:none; }
a:hover {
    color: #44D; }

/* Wrapper */
.wrapper {
    margin: 0 auto;
    width: 910px;
    min-height: 100%;
}
#container {
    margin-left:110px;
    background-color: #FFF;
    box-shadow: 0 0 1em;
    min-height:100%; }

/* Navigation bar */
nav#top {
    width:104px;
    padding: 2px;
    position:fixed; 
    top:50px;
    overflow: hidden;
    background:#FFF;
    border: 1px solid #8888CC;
    border-right:1px solid #EEE;
    text-align:center;
    font-weight:100; }
nav#top ul {
    list-style:none;
    margin:0; padding:5px;
    line-height: 1em; }
nav#top li {
    margin-bottom:0.5em; }
nav#top li:last-child {
    margin-bottom:0; }
nav#top footer {
    margin-top:0.5em; }

/* Page header */
header .left-panel {
    width: 75%;
    float:left;
    position:relative;
    left:7%; }
header h1 {
    margin:0 1.07em 0 0;
    font-size: 4em;
    text-align:right;
    color: #444;
    font-weight:100; }
header em {
    margin:0;
    float:right;
    margin-right:1.2em;
    position:relative;
    top:-0.5em; 
    color: #99B;
    font-weight: 100;
    font-size: 1.5em; }
header ul {
    width: 24%;
    float:right;
    margin:0;
    padding:1% 1% 0 0;
    list-style:none;
    text-align:right; }
header ul li {
    height:30px; }

/* Page body */
section {
    padding: 1%;
    clear:both; }
section h2 {
    font-weight: 100;
    color: #000;
    border-bottom: 1px solid #8888CC; }
p {
    color: #555;
    text-align:justify; }


/* Extra for curiculum vitae */
section#cv h3, section#cv p {
    margin:0; }
section#cv .row-fluid div {
    display:inline-block; }
section#cv .row-fluid .span2{
    width:17%;
    margin-right:2%;
    text-align:right;
    vertical-align:top; }
section#cv .row-fluid .span10{
    width:79%; display:inline-block; }
section#cv header {
    margin-bottom:0.7em; }
section#cv header h3 {
    color: #668; }
section#cv header .span2 {
    background:none repeat scroll 0 0 #99B;
    margin-top:0.5em;
    min-height:5px; }
section#cv article {
    margin-bottom: 1em; }

/* Page footer */
footer#bottom {
    margin: 1em 1em 0 1em; }
footer a{
    font-weight:100; }

/* A little bit of responsive design */

@media (max-width: 923px) {
    /* Change position of navigation bar */
    nav#top {
        position:static;
        width: 100%;
        border:none;
        padding:2px 0 0.5em 0; }
    nav#top ul,nav#top ul li,nav#top footer {
        display:inline-block; }
    nav#top footer {
        margin:0; }
    nav#top a {
        margin-right: 0.5em; }
    
    /* Remove margin and expand the wrapper */
    .wrapper {
        width: 100%;
        margin: 0;
    }
    #container {
        margin-left:0; }
}

@media (max-width: 805px) {
    /* Change position of "follow" */
    header .left-panel {
        float:none;
        position:static;
        width:100%; }
    header h1 {
        text-align:center;
        margin:0; }
    header ul {
        float:none;
        width:100%;
        text-align:center; }
    header ul li{
        display:inline-block; }
}

