---
title: Home
---

{% if paginator.total_posts > 0 %}
<section id="publications">
    <h1>Publications</h1>
    <ul>
    {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.title }} <small>({{ post.date | date: "%-d %B %Y" }})</small></a></li>
    {% endfor %}
    </ul>
 </section>
{% endif %}

<section>
    <h1>Contact</h1>
    <p>
      You can found me on <a href="{{ site.author.github }}">GitHub</a> or <a href="{{ site.author.linkedin }}">LinkedIn</a>.
      Or you can contact me on <a href="{{ site.author.twitter }}">Twitter</a> or by <a href="mailto:{{ site.author.email }}">mail</a>.
    </p>
  </section>
