---
layout: default
title: François Monniot
lang: en
---

<article>
  <div class="content">
    <section>
     <h2>Hi there, I'm François</h2>
     <p>I'm a web based application engineer. I love to build thing that use the web: REST api, web front-end or android application.</p>
     <p>I love the open source mindset and try to make all my side projects available <a href="{{ site.author.github }}">on GitHub</a>.</p>
    </section>
  </div>
</article>

{% if paginator.total_pages > 0 %}
<article>
  <div class="content">
    <section id="publications">
        <h2>Last publications</h2>
        <ul>
        {% for post in paginator.posts %}
            <li><a href="{{ post.url }}">{{ post.title }} <small>( at {{post.date | date_to_long_string }})</small></a></li>
        {% endfor %}
        </ul>
     </section>
  </div>
</article>
{% endif %}