<article class="cv">
    <div class="content">
        <header>
            <a href="cv_francois_monniot.pdf" class="right">Télécharger en PDF</a>
            <h2>Curiculum Vitæ</h2>
        </header>
        <section>
            <header>
                <div class="span2"></div>
                <h3 class="span10">Formations</h3>
            </header>
            <div>
                <div class="span2">Depuis 2011</div>
                <p class="span10">
                    <strong>Élève ingénieur</strong><br>
                    <em>Télécom SudParis</em>, Institut Mines-Télécom
                </p>
            </div>
            <div>
                <div class="span2">2010 – 2011</div>
                <p class="span10">
                    <strong>Classes préparatoires aux grandes écoles ATS</strong><br>
                    <em>Lycée Marie Curie</em>, Nogent sur Oise.
                </p>
            </div>
            <div>
                <div class="span2">2008 – 2010</div>
                <p class="span10">
                    <strong>BTS Contrôle Informatique et Régulation Automatique</strong><br>
                    <em>Lycée Marie Curie</em>, Nogent sur Oise.
                </p>
            </div>
            <div>
                <div class="span2">2008</div>
                <p class="span10">
                    <strong>Baccaulauréat STL mention Très Bien</strong><br>
                    <em>Lycée Marie Curie</em>, Nogent sur Oise.<br>
                </p>
            </div>
        </section>
        <section class="pro-exp">
            <header>
                <div class="span2"></div>
                <h3 class="span10">Expériences professionnelles</h3>
            </header>
            <div>
                <div class="span2">Mai 2013 à Aout 2013</div>
                <p class="span10">
                    <strong>Développement d'une interface graphique de classement de documents en Java. Mise en place de l'écosystème (Jenkins, Artifactory, Gradle)</strong>.<br>
                    Alter Frame
                </p>
            </div>
            <div>
                <div class="span2">Juin 2012 à Aout 2012</div>
                <p class="span10">
                    <strong>Amélioration du système de mise à jour des postes SNCF et mise en place d'un outil de gestion du parc informatique</strong>.<br>
                    SNCF, Direction de l'ingenierie Nord-Paris.
                </p>
            </div>
            <div>
                <div class="span2">Mai 2009 à Aout 2009</div>
                <p class="span10">
                    <strong>Mise en place d'une supervision et migration d'un système d'automate industriel</strong>.<br>
                    Sucrerie de Chevrière.
                </p>
            </div>
        </section>
        
        <section class="assoc-exp">
            <header>
                <div class="span2"></div>
                <h3 class="span10">Expériences associatives</h4>
            </header>
            <div>
                <div class="span2">Depuis 2011</div>
                <p class="span10">
                    <strong>Trésorier 2012-2013, Développeur, Administrateur système et réseau</strong><br>
                    <em>Association MiNET</em>, FAI associatif (700 adhérents &amp; budget de 40k€/an) du campus des écoles Télécom SudParis et Télécom Ecole de Management.<br>
                    Serveurs virtualisés avec OpenVZ/KVM sur un cluster Proxmox, matériel Cisco, interface de gestion en Ruby on Rails.
                </p>
            </div>
            <div>
                <div class="span2">2011 – 2012</div>
                <p class="span10">
                    <strong>Développeur C++/Python</strong><br>
                    <em>Club INTech</em>, Club de robotique de l’école d’ingénieurs Télécom SudParis.<br>
                    9ème à la coupe de France de robotique de 2012.
                </p>
            </div>
            <div>
                <div class="span2">Depuis 2009</div>
                <p class="span10">
                    <strong>Membre du Bureau</strong><br>
                    <em>Association ASA Tir à l'arc</em>, Association sportive de tir à l'arc dans l'oise.
                </p>
            </div>
        </section>
        
        <section class="projects">
            <header>
                <div class="span2"></div>
                <h3 class="span10">Projets</h3>
            </header>
            <div>
                <div class="span2">Février 2012 – Juin 2012</div>
                <p class="span10">
                    <strong>Développement d'un honeypot en C</strong><br>
                    <em>Détection et analyse d'attaques via le protocole SSH</em>
                </p>
            </div>
        </section>
           
        <section class="skills">
            <header>
                <div class="span2"></div>
                <h3 class="span10">Compétences</h3>
            </header>
            <div>
                <div class="span2">Système</div>
                <p class="span10">C, C++, Python, Ruby, Java, Javascript</p>
            </div>
            <div>
                <div class="span2">Web</div>
                <p class="span10">Ruby on Rails, Symfony2, HTML5/CSS3, jQuery, AngularJS</p>
            </div>
            <div>
                <div class="span2">Mobile</div>
                <p class="span10">Android, Web App</p>
            </div>
            <div>
                <div class="span2">OS</div>
                <p class="span10">GNU/Linux, Microsoft Windows</p>
            </div>
            <div>
                <div class="span2">Sécurité</div>
                <p class="span10">Web (XSS, Injections SQL, CSRF, ...), Honeypots</p>
            </div>
            <div>
                <div class="span2">Divers</div>
                <p class="span10">SQL, Git, Subversion, Latex</p>
            </div>
        </section>
        
        <section class="lang">
            <header>
                <div class="span2"></div>
                <h3 class="span10">Langues</h3>
            </header>
            <div>
                <div class="span2">Anglais</div>
                <p class="span10">Lu, parlé, écrit <em>(niveau européen B1)</em></p>
            </div>
        </section>

        <section class="interest">
            <header>
                <div class="span2"></div>
                <h3 class="span10">Centres d'intérêt</h3>
            </header>
            <div>
                <div class="span2">Loisirs</div>
                <p class="span10">Lecture, Musique</p>
            </div>
            <div>
                <div class="span2">Sport</div>
                <p class="span10">Tir à l'arc</p>
            </div>
        </section>
    </div>
</article>