<section id="cv">
                <header><h2>Curiculum Vitæ</h2></header>
                <article>
                    <header class="row-fluid">
                        <div class="span2"></div>
                        <h3 class="span10">Formations</h3>
                    </header>
                    <div class="row-fluid">
                        <div class="span2">2011 – </div>
                        <div class="span10">
                            <strong>Élève ingénieur</strong><br>
                            <em>Télécom SudParis</em>, Institut Mines-Télécom
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">2010 – 2011</div>
                        <div class="span10">
                            <strong>Classes préparatoires aux grandes écoles ATS</strong><br>
                            <em>Lycée Marie Curie</em>, Nogent sur Oise.
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">2008 – 2010</div>
                        <div class="span10">
                            <strong>BTS Contrôle Informatique et Régulation Automatique</strong><br>
                            <em>Lycée Marie Curie</em>, Nogent sur Oise.
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">2008</div>
                        <div class="span10">
                            <strong>Baccaulauréat STL mention Très Bien</strong><br>
                            <em>Lycée Marie Curie</em>, Nogent sur Oise.<br>
                            <p class="desc">Spécialité PLPI</p>
                        </div>
                    </div>
                </article>
                <article class="cv pro-exp">
                    <header class="row-fluid">
                        <div class="span2"></div>
                        <h3 class="span10">Expériences professionnelles</h3>
                    </header>
                    <div class="row-fluid">
                        <div class="span2">Juin 2012 à Aout 2012</div>
                        <div class="span10">
                            <strong>Amélioration du système de mise à jour des postes SNCF et mise en place d'un outil de gestion du parc informatique.</strong>.<br>
                            SNCF, Direction de l'ingenierie Nord-Paris.
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">Mai 2009 à Aout 2009</div>
                        <div class="span10">
                            <strong>Mise en place d'une supervision et migration d'un système d'automate industriel</strong>.<br>
                            Sucrerie de Chevrière, 60617.
                        </div>
                    </div>
                </article>
                
                <article class="cv assoc-exp">
                    <header class="row-fluid">
                        <div class="span2"></div>
                        <h3 class="span10">Expériences associatives</h4>
                    </header>
                    <div class="row-fluid">
                        <div class="span2">2011 – </div>
                        <div class="span10">
                            <strong>Trésorier 2012-2013, Développeur, Administrateur système et réseau</strong><br>
                            <em>Association MiNET</em>,FAI associatif (700 adhérents &amp; budget de 40k€/an) du campus des écoles Télécom SudParis et Télécom Ecole de Management.<br>
                            <p class="desc">Serveurs virtualisés avec OpenVZ/KVM sur un cluster Proxmox, matériel Cisco, interface de gestion en Ruby on Rails.</p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">2011 – 2012</div>
                        <div class="span10">
                            <strong>Développeur C++/Python</strong><br>
                            <em>Club INTech</em>, Club de robotique de l’école d’ingénieurs Télécom SudParis.<br>
                            <p class="desc">9ème à la coupe de France de robotique de 2012.</p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">2009 – </div>
                        <div class="span10">
                            <strong>Membre du Bureau</strong><br>
                            <em>Association ASA Tir à l'arc</em>, Association sportive de tir à l'arc dans l'oise.
                        </div>
                    </div>
                </article>
                
                <article class="cv projects">
                    <header class="row-fluid">
                        <div class="span2"></div>
                        <h3 class="span10">Projets</h3>
                    </header>
                    <div class="row-fluid">
                        <div class="span2">Février 2012 – Juin 2012</div>
                        <div class="span10">
                            <strong>Développement d'un honeypot en C</strong><br>
                            <em>Détection et analyse d'attaques via le protocole SSH</em>
                        </div>
                    </div>
                </article>
                   
                <article class="cv skills">
                    <header class="row-fluid">
                        <div class="span2"></div>
                        <h3 class="span10">Compétences</h3>
                    </header>
                    <div class="row-fluid">
                        <div class="span2">Dév. Système</div>
                        <div class="span10">C, C++, Python, Ruby</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">Dév. Web</div>
                        <div class="span10">PHP, Symfony2, HTML5/CSS3, Javascript, jQuery</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">Dév. Mobile</div>
                        <div class="span10">Android, Web</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">OS</div>
                        <div class="span10">GNU/Linux, Microsoft Windows</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">Sécurité</div>
                        <div class="span10">Web (XSS, Injections SQL, CSRF, ...), Honeypots</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">Divers</div>
                        <div class="span10">SQL, Git, Latex</div>
                    </div>
                </article>
                
                <article class="cv lang">
                    <header class="row-fluid">
                        <div class="span2"></div>
                        <h3 class="span10">Langues</h3>
                    </header>
                    <div class="row-fluid">
                        <div class="span2">Anglais</div>
                        <div class="span10">Lu, parlé, écrit <em>(niveau européen B1)</em></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">Allemand</div>
                        <div class="span10">Débutant</div>
                    </div>
                </article>

                <article class="cv interest">
                    <header class="row-fluid">
                        <div class="span2"></div>
                        <h3 class="span10">Centres d'intérêt</h3>
                    </header>
                    <div class="row-fluid">
                        <div class="span2">Loisirs</div>
                        <div class="span10">Lecture, Musique</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">Sport</div>
                        <div class="span10">Tir à l'arc</div>
                    </div>
                </article>
            
            </section>
