//
// Mixins
//
@mixin title($color, $size) {
  color: $color;
  font-size: $size;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
}

@mixin link-color($color, $color-hover) {
  color: $color;

  &:hover {
    color: $color-hover;
  };
}

//
// General tags
//

body {
  background: $color-background;
  color: $color-main;
  font-family: Lato, Arial, sans-serif;
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

blockquote {
  border-left: 5px solid $color-blockquote;
  margin: 0 0 20px;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  @include link-color($color-link, $color-link-hover);
}

p {
  font-size: 1em;
  font-weight: 300;
  margin: 0 0 1em;
  line-height: 1.3em;
}

strong { font-weight: 500; }

h1 { @include title($color-h1, 2em); }
h2 { @include title($color-h2, 1.75em); }

footer a { @include link-color($color-footer-link, $color-link-hover); }

table {
    border-collapse: collapse;
    border-spacing: 0;
    font: inherit;

    tr {
      background-color: #FFFFFF;
      border-top: 1px solid #CCCCCC;

      &:nth-child(2n) {
        background-color: #F8F8F8;
      }
    }

    th, td {
      border: 1px solid #CCCCCC;
      padding: 6px 13px;
    }
}

//
// Wrapper and utilities
//

.wrapper {
  padding-left: 280px;
  width: 100%;
  max-width: 1400px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.right { float: right; }

//
// Effective Design
//

// Site Header definition
header.main {
  background: $color-header-background;
  //box-shadow: 0 2px 6px $color-header-shadow;
  margin-bottom: 1em;
  height: 60%;
  width: 280px;

  position: fixed;
  padding: 10% 0;
  text-align: center;

  .logo {
    display: inline-block;
    height: 90px;
    width:  90px;
    //box-shadow: 0 2px 6px $color-header-shadow;
    border-radius: 50%;
    margin-bottom: 1em;
  }

  .follows {
    margin: 1em 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: inline-block;
    font-size: 1em;
    padding: 0.5em;
  }

  .btn-social { padding:0em; }
  .btn-github:before,
  .btn-twitter:before,
  .btn-google:before {
    margin: 0;
  }

  .btn-google {
    border-color: #3079ED + #333;
  }

}

// Footer Definition
footer {
  border-top: 1px solid $color-wrapper-border;
  color: $color-footer;
  font-size: 0.7em;
  padding: 1em 0.3em 0 0.5em;

  a { @include link-color($color-footer-link, $color-link-hover); }
  .top { float: right; }
}

// Article definition
article {
  padding: 1em 4.5em;
  position: relative;

  .content {
    background: $color-wrapper-background;
    border: 1px solid $color-wrapper-border;
    border-radius: 4px;
    //box-shadow: 0 4px 2px -2px $color-header-shadow;
    padding: 1em;

    header {
      min-height: 3em;
      min-width: 100%;
    }

    section {
      padding: 0 1em;

      h1,h2,h3 {
        padding: 0.5em 0;
      }
    }

    footer {
      border-top: 1px solid $color-wrapper-border;
      color: $color-footer-article;
      font-size: 0.8em;
      margin: 0 1em;
    }
  }
}

// Curiculum Vitae & Resume
.cv {
  h3 {
    margin: 0;
  }

  .span2{
    width: 17%;
    margin-right: 2%;
    text-align: right;
    vertical-align: top;
    display: inline-block;
    line-height: 1.3em;
  }

  .span10{
    width: 79%;
    display: inline-block;
  }

  header {
    margin-bottom: 0em;
    
    h3 { 
      color: $color-cv-title;
    }
    .span2 {
      background: none repeat scroll 0 0 $color-cv-separator;
      margin-top: 1em;
      min-height: 5px;
    }
  }

  section {
    margin-bottom: 0.5em;
  }

}

/// Highlight code
.highlight {
  background-color: #efefef;
  border: 1px solid #ddd;
  //box-shadow: 3px 3px rgba(0,0,0,0.1);
  clear: right;
  margin: 20px 0 20px 0;
  overflow: hidden;
  padding: 7px 7px 7px 10px;
}

pre {
  overflow: auto;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

pre code {
  white-space: pre;
}

.code-title {
  float: right;
  position: relative;
  top: 1.5em;
  padding-right: 0.5em;
  font-family: monospace;
  margin: 0;
}