// Mixins
//
@mixin title($color, $size) {
  color: $color;
  font-size: $size;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
}

@mixin link-color($color, $color-hover) {
  color: $color;

  &:hover {
    color: $color-hover;
  };
}