/// Styles only set in print

strong { font-weight: 700; }

body {
  text-indent: 0;
  font-size: 10pt;
  font-weight: normal;
  line-height: 12pt;

  // A serif font have a better render on paper
  font-family: "Times";
  line-height: $leading-body1 - 7px;
}

p {
  font-weight: 200;
}

#mask-modal{ display: none; }

.no-print { display: none; }

.wrapper {
  margin: 0px;
  width: auto;
}

.vcard {
  .url { color: $vcard-infos-color; }

  .fn {
    margin-top: 8px;

    a {
      color: $vcard-fn-color;
      font-size: 2em;
      font-style: normal;
      font-weight: lighter;
    }
  }
  .role {
    color: $vcard-role-color;
    font-size: 1.3em;
  }
  .adr, .tel, .email, .note, .website {
    color: $vcard-infos-color;
    clear: right;
    float: right;
    font-size: 0.9em;
    margin: 0;
    text-align: right;
  }
}

// Do not let a vcard disturb you!
section { clear: both; }

// Remove UI elements
.app-bar, #side-drawer, .page-footer { display: none; }

/// Disable shadow (print bug in chrome)
.highlight {
  box-shadow: none;
}

.cv {
  margin-bottom: -6px;

  .span2 { padding: 0; }
  div { margin-bottom: 6px; }

  header .span2 { margin-top: 5px + ($leading-subhead2 / 2); }
  h2 { margin-top: 5px; margin-bottom: 2px; padding-top: 0; }

  section { margin-bottom: 0; }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

// No scroll on paper
pre code { white-space: pre-wrap; }
