/// Styles only set in print

strong { font-weight: 700; }

body {
  text-indent: 0;
  font-size: 10pt;
  line-height: 11pt;
}

.no-print { display: none; }

.wrapper {
  margin: 1px;
  width: auto;
}

.vcard {
  .url { color: $vcard-infos-color; }

  .fn a{
    color: $vcard-fn-color;
    font-size: 2em;
    font-style: normal;
    font-weight: lighter;
  }
  .role {
    color: $vcard-role-color;
    font-size: 1.3em;
  }
  .adr, .tel, .email, .note, .website {
    color: $vcard-infos-color;
    clear: right;
    float: right;
    font-size: 0.9em;
    margin: 0;
    text-align: right;
  }
}

// Do not let a vcard disturb you!
section { clear: both; }

// Remove UI elements
.app-bar, #side-drawer, .page-footer { display: none; }

/// Disable shadow (print bug in chrome)
.highlight {
  box-shadow: none;
}

.cv {
  .span2 { padding: 0; }
  div { margin-bottom: 8px; }

  header .span2 { margin-top: 12px + ($leading-subhead2 / 2); }
  h2 { margin-top: 12px; margin-bottom: 4px; padding-top: 0; }

  section { margin-bottom: 0; }
}

// No scroll on paper
pre code { white-space: pre-wrap; }