---
title: François Monniot
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- meta -->
    <meta charset="utf-8"/>
    <meta name="author"   content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width">

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>

    <!-- include -->
    <link rel="icon"      type="image/x-icon"        href="favicon.ico"/>
    <link rel="sitemap"   type="application/xml"     href="/sitemap.xml" title="Sitemap"/>
    <link rel="alternate" type="application/rss+xml" href="/atom.xml"    title="RSS feed"/>

    <title>François Monniot</title>
  </head>
  <body>

  <header class="app-bar">
    <button class="action hamburger">Show Navigation</button>
    <span class="title">{% if page.appbar.title %}{{ page.appbar.title }}{% else %}{{ site.name }}{% endif %}</span>
    {% for action in page.appbar.actions %}
      {% if action.href %}
      <a href="{{ action.href }}" class="action {{ action.icon }}">{{ action.title }}</a>
      {% else %}
      <button class="action {{ action.icon }} {{ action.class }}">{{ action.title }}</button>
      {% endif %}
    {% endfor %}
  </header>

  <div id="side-drawer">
    <span class="logo">François Monniot</span>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cv">Curiculum Vitæ (FR)</a></li>
        <li><a href="/resume">Resume (EN)</a></li>{% if site.dev %}
        <li><a href="/test">[dev] Future Style Guide</a></li> {% endif %}
      </ul>
    </nav>
    <div class="about">
      <a href="https://github.com/fmonniot/fmonniot.github.com">Fork on GitHub</a><br/>
      Licensed under the MIT License
    </div>
  </div>

  {{ content }}

  <div id="mask-modal"></div>

  <script type="text/javascript">
    // Google Analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38786904-1']);
    _gaq.push(['_setDomainName', 'monniot.eu']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    // Side drawer
    (function(){
      var drawer = document.getElementById('side-drawer');
      var mask = document.getElementById('mask-modal');

      function toggleDrawer() {
        drawer.classList.toggle('open');
        mask.classList.toggle('mask-visible');
      }

      mask.addEventListener('click', toggleDrawer);
      document.querySelector('.app-bar .hamburger').addEventListener('click', toggleDrawer);
    })();

    // Table hack on narrow screen
    (function(){
      if(window.innerWidth <= 480) {
        function forEach(array, func) {
          Array.prototype.forEach.call(array, func);
        }

        var tables = document.getElementsByTagName('table');
        forEach(tables, function(table){
          var headers = [];

          forEach(table.getElementsByTagName('th'), function(th){
            headers.push(th.textContent);
          });

          var i = 0, l = headers.length;
          forEach(table.getElementsByTagName('td'), function(td){
            td.dataset.title = headers[i%l];
            i++;
          });
        });
      }
    })();

  </script>
  </body>
</html>
