<!doctype html>
<!--[if lt IE 7 ]> <html lang="fr" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="fr" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="fr" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="fr" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author.name }}" />
  <link href='http://fonts.googleapis.com/css?family=Lato:light,regular,bold' rel='stylesheet' type='text/css'>
  <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" title="RSS feed">
</head>
 
    <body> 
        <div id="header">
            <div class="inner">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/about/">À propos de moi</a></li>
                </ul>
                <h1><a href="/">{{ site.author.name }}</a></h1>
                <!-- <h2>A simple weblog</h2> -->
            </div>
        </div>
                
        <div id="content">
            <div class="inner">
                {{ content }}
            </div>
        </div>
        
        <div id="footer" class="clearfix">
	    <div class="inner">
                <div class="bloc legal">
		    
                    <a href="https://github.com/fmonniot/fmonniot.github.com">
                        Fork me on Github
                    </a><br/>
		    <a href="#">RSS Feed</a>
                </div>
            </div>
            <div class="inner">
	        <div class="bloc follow">
	            <h3>Follow me</h3>

	            <a href="https://github.com/{{ site.author.github }}" title="Follow {{ site.author.github }} on Github">
        	        github.com/{{ site.author.gihub }}
                    </a><br/>
		    <a href="http://www.twitter.com/{{ site.author.twitter }}">
       		        twitter.com/{{ site.author.twitter }}
		    </a><br/>
		    <a href="http://gplus.to/{{ site.author.gplusto }}">
		        gplus.to/{{ site.author.gplusto }}
		    </a>
		</div>
            </div>
        </div>
    </body>
</html>
