---
title: François Monniot
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width">

    <!-- styles -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/responsive.css" type="text/css" />
    <link rel="stylesheet" media="print" href="/css/print.css" type="text/css" />
    <link rel="stylesheet" href="/css/css3-social-buttons/auth-buttons.css" type="text/css"/>

    <!-- include -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" href="/atom.xml" title="RSS feed">

    <title>François Monniot</title>
  </head>
  <body>

  <header class="main">
    <!-- <a href="https://github.com/fmonniot/fmonniot.github.com" class="fork_me">Fork me on Github</a> -->
    <img src="/images/avatar.png" class="logo" />
    <h1>François Monniot</h1>
    <nav class="menu">
      <ul>
        <li class="follows">
          <a href="https://github.com/{{ site.author.github }}" class="btn-social btn-github" href="#"></a>
          <a href="https://www.twitter.com/{{ site.author.twitter }}" class="btn-social btn-twitter" href="#"></a>
          <a href="http://gplus.to/{{ site.author.gplusto }}" class="btn-social btn-google" href="#"></a>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="/cv">Curiculum Vitæ (FR)</a></li>
        <li><a href="/resume">Resume (EN)</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <div class="wrapper">
    {{ content }}
    
    {% if paginator.total_pages > 1 %}
    <nav>
    {% if paginator.previous_page %}
      <a href="{{ site.url }}page{{paginator.previous_page}}">Previous</a>
    {% else %}
      <span>Previous</span>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ site.url }}page{{paginator.next_page}}" class="right">Next</a>
    {% else %}
      <span class="right">Next</span>
    {% endif %}
    </nav>
    {% endif %}
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38786904-1']);
    _gaq.push(['_setDomainName', 'monniot.eu']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  </body>
</html>
